useDynLib(OmniOmicsR, .registration=TRUE)
importFrom(methods,setClass)
importFrom(methods,setMethod)
importFrom(methods,new)
importFrom(SummarizedExperiment,SummarizedExperiment)
importFrom(SummarizedExperiment,assay)
importFrom(SummarizedExperiment,assays)
importFrom(SummarizedExperiment,colData)
importFrom(SummarizedExperiment,rowData)
importFrom(S4Vectors,DataFrame)
importFrom(MultiAssayExperiment,MultiAssayExperiment)
importFrom(MultiAssayExperiment,experiments)
importFrom(BiocParallel,bpparam)
importFrom(stats,prcomp)
importFrom(stats,model.matrix)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,theme_minimal)
importFrom(ggplot2,labs)
exportClasses(OmicsExperiment)
exportClasses(OmniProject)
export(as_oe)
export(as_op)
export(read_omics_matrix)
export(qc_basic)
export(normalize_tmm)
export(normalize_quantile)
export(normalize_vst)
export(normalize_rlog)
export(impute_minprob)
export(impute_knn)
export(batch_combat)
export(batch_mnn)
export(batch_harmony)
export(integrate_diablo)
export(integrate_mofa)
export(integrate_rgcca)
export(integrate_canonical)
export(plot_qc)
export(plot_pca)
export(plot_umap)
export(qc_mito_ratio)
export(qc_saturation)
export(sc_hvg)
export(export_op_report)
export(save_project)
export(load_project)
export(replay)
export(dea_deseq2)
export(dea_edgeR)
export(dea_limma)
export(map_ids)
export(map_kegg_compound)
export(pathway_enrich)
export(plot_enrichment)
export(theme_omni)
export(plot_volcano)
export(plot_heatmap)
export(plot_batch_compare)
export(assoc_corr)
export(assoc_lmm)
export(plot_circos_integrate)
